0 0 * * 1 [ $(date +%d) -le 07 ] && /home/danibz/Documentos/Lab4/backups/tarea_entregable/copia0.sh
0 0 * * 1 [ $(date +%d) -gt 07 ] && /home/danibz/Documentos/Lab4/backups/tarea_entregable/copia1.sh
0 0 * * 0,2,3,4,5,6 /home/danibz/Documentos/Lab4/backups/tarea_entregable/copia2.sh
